build
*.tmp
gradle.properties
/RiippuvuuksienInjektointi1/.nb-gradle/
/NhlStatistics1/.nb-gradle/
/koodi/viikko1/RiippuvuuksienInjektointi1/.nb-gradle/
/koodi/viikko2/RiippuvuuksienInjektointi2/.nb-gradle/
/koodi/viikko2/RiippuvuuksienInjektointi3/.nb-gradle/
/koodi/viikko2/Verkkokauppa1/.nb-gradle/
/koodi/viikko7/KiviPaperiSakset/.nb-gradle/
/koodi/viikko6/Laskin/.nb-gradle/
/koodi/viikko6/QueryLanguage/.nb-gradle/