build
*.tmp
gradle.properties
/RiippuvuuksienInjektointi1/.nb-gradle/
/NhlStatistics1/.nb-gradle/
/koodi/viikko1/RiippuvuuksienInjektointi1/.nb-gradle/
/koodi/viikko2/RiippuvuuksienInjektointi2/.nb-gradle/
/koodi/viikko2/RiippuvuuksienInjektointi3/.nb-gradle/
/koodi/viikko2/Verkkokauppa1/.nb-gradle/
/koodi/viikko7/KiviPaperiSakset/.nb-gradle/
/koodi/viikko6/Laskin/.nb-gradle/
/koodi/viikko6/QueryLanguage/.nb-gradle/
/kooodi/viikko1/RiippuvuuksienInjektointi1/.nb-gradle/
/kooodi/viikko2/RiippuvuuksienInjektointi2/.nb-gradle/
/kooodi/viikko2/RiippuvuuksienInjektointi3/.nb-gradle/
/kooodi/viikko2/Verkkokauppa1/.nb-gradle/
/kooodi/viikko3/WebLogin/.nb-gradle/
/kooodi/viikko4/MatkakorttiMockito/.nb-gradle/
/kooodi/viikko4/MockitoDemo/.nb-gradle/
/kooodi/viikko4/VerkkokauppaSpring/.nb-gradle/
/kooodi/viikko5/IntJoukkoSovellus/.nb-gradle/
/kooodi/viikko5/Tennis/.nb-gradle/
/koooodi/viikko1/RiippuvuuksienInjektointi1/.nb-gradle/
/koooodi/viikko2/RiippuvuuksienInjektointi2/.nb-gradle/
/koooodi/viikko2/RiippuvuuksienInjektointi3/.nb-gradle/
/koooodi/viikko2/Verkkokauppa1/.nb-gradle/
/koooodi/viikko3/Kurssistatistiikka/.nb-gradle/
/koooodi/viikko3/WebLogin/.nb-gradle/
/koodi2/viikko1/RiippuvuuksienInjektointi1/.nb-gradle/
/koodi2/viikko2/RiippuvuuksienInjektointi2/.nb-gradle/
/koodi2/viikko2/RiippuvuuksienInjektointi3/.nb-gradle/
/koodi2/viikko2/Verkkokauppa1/.nb-gradle/
/koodi2/viikko3/WebLogin/.nb-gradle/
/koodi2/viikko4/MatkakorttiMockito/.nb-gradle/
/koodi2/viikko4/MockitoDemo/.nb-gradle/
/koodi2/viikko4/VerkkokauppaSpring/.nb-gradle/
/koodi2/viikko5/IntJoukkoSovellus/.nb-gradle/
/koodi2/viikko5/Tennis/.nb-gradle/
/koodi3/viikko1/RiippuvuuksienInjektointi1/.nb-gradle/
/koodi3/viikko2/RiippuvuuksienInjektointi2/.nb-gradle/
/koodi3/viikko2/RiippuvuuksienInjektointi3/.nb-gradle/
/koodi3/viikko2/Verkkokauppa1/.nb-gradle/
/koodi3/viikko3/Kurssistatistiikka/.nb-gradle/
/koodi3/viikko3/WebLogin/.nb-gradle/